html {
    height: 100%;
}

body {
    display: grid;
    justify-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.info {
    margin-top: 10%;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%;  */
    width: 800px;
    padding: 100px;
    /* transform: translate(60%, -50%); */
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.info h2 {
    margin: 0 0 40px;
    padding: 0;
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.info p {
    margin: 0 0;
    margin-top: 10px;
    padding: 0;
    color: #03e9f4;
    font-size: 16px;
    text-align: left;
}

.info .info-box {
    position: relative;
    padding-bottom: 10px;
}


.info .info-box label {
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .2s;
}

.info .btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .2s;
    margin-top: 40px;
    letter-spacing: 4px
}

.info .btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 10px #03e9f4,
        0 0 30px #03e9f4,
        0 0 100px #03e9f4;
}

.login-box {
    margin-top: 10%;
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    width: 400px;
    padding: 40px;
    /* transform: translate(-50%, -50%); */
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .2s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -15px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form .btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .2s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box .btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 10px #03e9f4,
        0 0 30px #03e9f4,
        0 0 100px #03e9f4;
}